:host {
  padding: 24px;
  display: inline-flex;
  border: 1px solid #eee;
  border-radius: 2px;
  max-width: 540px;
}

.selection {
  text-align: center;
}

.card {
  display: inline-flex;
  margin: 8px;
}

.card.active {
  border: 1px solid blue;
}
