:host {
  padding: 16px;
  display: flex;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.selection {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  margin: 8px;
}

.card-container.active .card {
  border: 1px solid blue;
}
