:host {
  cursor: pointer;
}

.card {
  box-shadow: none;
}

.card-image img {
  width: 239px;
  height: 332px;
}
.card-image.small img {
  width: 143.4px;
  height: 199.2px;
}
.card-image.large img {
  width: 286.8px;
  height: 398.4px;
}

.blank-card {
  width: 239px;
  height: 332px;
  background-color: #eee;
  color: #888;
  line-height: 332px;
  text-align: center;
}
.blank-card.small {
  width: 143.4px;
  height: 199.2px;
}
.blank-card .large {
  width: 286.8px;
  height: 398.4px;
}