:host {
  padding: 24px;
  display: block;
  border: 1px solid #eee;
  box-sizing: border-box;
  position: relative;
}

.hidden-card {
  position: absolute;
  top: 16px;
  right: 16px;
}

.played-cards {
  padding: 24px;
}

img.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}