<div class="col-100" *ngIf="state">
  <app-guide-text [display]="display"></app-guide-text>
  {{ playerId == state.playerIdTurn ? 'Your turn' : 'Not your turn' }}
</div>
<div class="row" *ngIf="state">
  <div class="col-60">
    <app-main-info
      *ngIf="state.deck"
      [cardsLeft]="state.deck.length"
      [actionCard]="chosenCard"
      [hiddenCard]="state.hiddenCard"
      [disableDeck]="playerId != state.playerIdTurn"
      (draw)="drawCard()"></app-main-info>
    <app-hand
       *ngIf="state.players[this.playerId]"
       [player]="state.players[this.playerId]"
      [drawn]="drawnCard"
      (choose)="playCard($event)"></app-hand>
  </div>
  <div class="col-40">
    <app-card-selector
      (select)="selectCard($event)"></app-card-selector>
    <app-player-selector
      [currentPlayerId]="state.playerIdTurn"
      [players]="state.players"
      (select)="selectPlayer($event)"></app-player-selector>
  </div>
</div>
