<h1>Players</h1>
<div *ngIf="players && players.length > 0" class="players-container">
  <div
    *ngFor="let player of players"
    class="player-wrapper"
    [class.disabled]="player.isEliminated || player.isEffectImmune"
    [class.current]="currentPlayerId == player.id"
    (click)="selectPlayer(player)">
    <img src="assets/img/blank.png" class="player-img"/>
    <span class="player-id">{{ player.id }}</span>
  </div>
</div>

<ng-container *ngIf="!players || players.length == 0">
  <span>No players</span>
</ng-container>