:host {
  padding: 24px;
  display: block;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.player-wrapper .player-id {
  text-align: center;
}

.player-wrapper.disabled {
  opacity: 0.2;
}

.player-wrapper:not(:first-child) {
  margin-left: 16px;
}

.player-img {
  width: 45px;
  height: 45px;
}

.players-container {
  display: flex;
  flex-direction: row;
}